@import "tailwindcss";

@theme inline {
  --color-background-500: #FFF6EB;
  --color-background-700: #2C2421;

  --color-primary-500: #FBD44C;
  --color-primary-600: #eb8415;
  --color-primary-700: #B4540A;
  --color-primary-800: #2C2421;
}

